#background{
    -fx-background-image: url("/images/background.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-color: grey;
}

#infoBar{
    -fx-padding: 50;
    -fx-background-color: #D34973;

}

#navBar{
    -fx-padding: 75;
    -fx-background-color: #4555A1;
}

.button{
    -fx-padding: 12;
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}
.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}
.button:hover{
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #D34973 0%, #D34973 100%),
            cyan,
            cyan,
            radial-gradient(center 50% 50%, radius 100%, #D34973, #D34973);
}
.button:pressed{
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            grey,
            grey,
            radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}